<style type="text/css">
    article{
        background-color: #E0E0E0;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    figure img{
        width: 100%;
        height: 100%;
    }
    .glyphicon-folder-open,
    .glyphicon-user,
    .glyphicon-calendar,
    .glyphicon-eye-open,
    .glyphicon-comment{
        padding: 5px;
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <article>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <figure>
                        <img src="<%= blog_article.image.url(:blogThumb) %>">
                    </figure>
                </div>
                <div class="col-sm-6 col-md-8">
                    <span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i>50</span>
                    <h4><%= blog_article.title %></h4>
                    <p><%= strip_tags(blog_article.content.first(100))+"... " %></p>
                    <section>
                        <i class="glyphicon glyphicon-folder-open"></i>Bootstrap
                        <i class="glyphicon glyphicon-user"> <%= blog_article.author %></i>
                        <i class="glyphicon glyphicon-calendar">
                            <%= blog_article.created_at.to_date %></i>
                            <%= link_to 'More details', blog_article_path(blog_article), class: 'btn btn-default btn-sm pull-right' %>
                        </section>
                    </div>
                </div>
            </article>

        </div>
    </div>
</div>