<!DOCTYPE html>
<html>
<head>
  <title>BusinessWebPage</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  
  <%= render "layouts/header" %>
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <ul>
    <% if user_signed_in? %>
    <li>
      <%= link_to "#{current_user.email}", edit_user_registration_path, class: 'nav-link' %> 
    </li>   
  
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %> 
    </li>        
  
    <% else %>
  
    <li>
      <%= link_to "Sign in", new_user_session_path, class: 'nav-link' %> 
    </li>
  
    <% end %>
  </ul> -->
  <br><br>
  <%= yield %>

  <%= render "layouts/footer" %>

</body>
</html>
